@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

/* font-family: 'Lobster Two'; */
/* font-family: 'Rubik'; */
html
{
    scroll-behavior: smooth;
}
*{margin: 0;
    font-family: 'Rubik';
    box-sizing: border-box;}

.heading
{
    height: 100%;
    width: 100%;
    /* background-color: lightcoral; */
    display: flex;
    justify-content: center;
}
.heading .common-heading
{
    display: inline;
    font-size: 3.4rem;
    font-family: 'Lobster Two';
    position: relative;
    /* background-color: lightgreen; */
}
.heading .common-heading::before
{
    content: '';
    height: 4px;
    width: 70%;
    background-color: crimson;
    position: absolute;
    bottom: -12%;
    left: 15%;

}

/* ***************************************************************** */
/* ------------ nav style start ------------ */
nav
{
    /* height: 100%; */
    width: 100%;
    background-color:#231F20;
    /* background-color: white; */
    display: flex;
    align-items: center;
    padding: 0% 0% 0% 8%;
    position: fixed;
    border-bottom: 1px solid rgba(128, 128, 128, 0.574);
    z-index: 999;
}
nav .logo
{
    /* height: 100%; */
    width: 15%;
    /* background-color: whitesmoke; */
    text-align: end;
}
nav .menu-list
{
    /* height: 100%; */
    width: 85%;
    /* background-color: lightcoral; */
    /* padding: 10px 0; */
    margin-left: 15%;
}
nav .menu-list ul
{
    display: flex;
    justify-content: space-evenly;
}
nav .menu-list ul a
{
    text-decoration: none;
}
nav .menu-list ul a li
{
    list-style: none;
    font-size: 1.4rem;
    /* background-color: chocolate; */
    color:white;
    padding: 20px;
    position: relative;
    transition: .3s all;
}
nav .menu-list ul a li::before
{
    content: '';
    height: 4px;
    width: 0%;
    background-color: crimson;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: ease-out .5s;
}
nav .menu-list ul a li:hover::before
{
    width: 100%;
}
#home nav .fa-bars
{
    color: white;
    cursor: pointer;
    display: none;
    position: absolute;
    left: 80%;
    font-size: 1.5rem;
}
#home nav .fa-xmark
{
    color: white;
    cursor: pointer;
    position: absolute;
    left: 80%;
    font-size: 1.5rem;
    display: none;
}
#home nav .show
{
    opacity: 1;
    transform: translate(0% , 0%);
}
/* ------------ nav style end ------------ */

/* ------------ hero section style start ------------ */
#home .container
{
    padding-top: 5%;
}
#home .container .row 
{
    display: flex;
    /* height: 100%; */
}
#home .container .row .col1
{
    /* height: 100%; */
    width: 50%;
    padding: 10% 15%;
    /* background-color: lightcoral; */
}
#home .container .row .col1 h1 
{
    font-size: 5rem;
    font-family: 'Lobster Two';
}
#home .container .row .col1 span
{
    color: crimson;
}
#home .container .row .col1 .second
{
    margin-top: -20px;
}

#home .container .row .col1 p
{
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 3px;
    word-spacing: 5px;
}
.btn_style
{
    border: none;
    outline: none;
    color: white;
    background: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    padding: 20px 60px;
    font-size: 1.2rem;
    margin-top: 30px;
    font-weight: 500;
}
.btn_style:before
{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: 0px;
    left:0px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    height: 100%;
    width: 100%;
    animation: effect 20s linear infinite;
    opacity: 0;
    transition: .3s ease-in-out;
}
.btn_style:hover:before
{
    opacity: 1;
}
@keyframes effect
{
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
#home .container .row .col2
{
    width: 50%;
    /* background-color: lightblue; */
    padding: 4% 15%;
}
#home .container .row .col2 img
{
    border-radius: 20px;
}

/* ------------ hero section style end ------------ */

/* ------------ about section style start ------------ */
#about
{
    /* background-color: gray; */
    background-color: #f8f9fa;
    margin-top: 5%;
    padding-top: 5%;
}
/* #about .container
{
    background-color: #fffb00;
} */
#about .container .row
{
    display: flex;
}
#about .container .row .col
{
    width: 40%;
    padding: 10% 0%;
    /* background-color: lightcoral; */
}
#about .container .row .col .imgbox 
{
    height: 85%;
    width: 60%;
    margin-left: 20%;
    /* padding: 10% 25%; */
    border-radius: 10px;
}
#about .container .row .col .imgbox img
{
    border-radius: 10px;
}

#about .container .row .col2
{
    width: 70%;
    padding: 10% 15% 10% 5%;
    /* background-color: cornflowerblue; */
}
/* #about .container .row .col2 .intro-box
{
    background-color: lightcyan;   
} */
#about .container .row .col2 .intro-box h3
{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5%;
}
#about .container .row .col2 .intro-box p
{
    font-size: 1.5rem;
}
#about .container .row .col2 .text-box
{
    /* background-color: lightcoral; */
    margin-top: 5%;
    overflow: hidden;
}
#about .container .row .col2 .text-box .row
{
    display: flex;
    /* background-color: aqua; */
    padding: 0% 15% 0 0;
    /* border: 1px solid; */
}
#about .container .row .col2 .text-box .row .col1
{
    width: 30%;
    padding: 10px 0px 10px 0;
    /* background-color: antiquewhite; */
    /* border: 1px solid; */
    font-size: 1.2rem;
    font-weight: 600;
}
#about .container .row .col2 .text-box .row .col2
{
    width: 50%;
    padding: 10px;
    font-size: 1.2rem;
    /* background-color: lightgreen; */
    /* border: 1px solid; */
}
.icons
{
    width: 100%;
    /* background-color:yellow; */
    /* text-align: left; */
    margin-top: 5%;
}
.icons a
{
    color: black;
    margin-right: 5%;
    font-size: 1.8rem;
}
.icons a i
{
    transition: all .5s;
}
.icons a i:hover
{
    transform: scale(1.5);
    color: crimson;
}
/* ------------ about section style end ------------ */

/* ------------ portfolio section style start ------------ */
#portfolio
{
    /* background-color: gray; */
    /* background-color: #f8f9fa; */
    margin-top: 5%;
    padding-top: 5%;
}
#portfolio .container
{
    margin: 2% 3%;
    /* background-color: lightblue; */
}
#portfolio .container h3
{
    font-size: 2rem;
    font-weight: 500;
    margin-left: 3%;
}
/* #portfolio .container
{
    background-color: chocolate;
} */
#portfolio .container .row
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 1px solid; */
    /* background-color: lightpink; */
    padding: 3% 0%;
}
#portfolio .container .row .col
{
    height: 100%;
    /* width: 33.33%; */
    /* border: 1px solid; */
    /* flex-grow: 1; */
    flex-basis: 30%;
    border-radius: 10px;
    overflow: hidden;
    /* margin:0% 2%; */
    background-color: #f8f9fa;
    position: relative;
}
#portfolio .container .row .col .hover_text
{
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 35%;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Lobster Two';
    z-index: 2;
    opacity: 0;
    transition: all .3s;
    color: white;
}
#portfolio .container .row .col p
{
    font-size: 1.4rem;
    margin: 4% 0%;
    text-align: center;
}
#portfolio .container .row .col::before
{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s ease;
    z-index: 1;
}
#portfolio .container .row .col:hover .hover_text
{
    opacity: 1;
}
#portfolio .container .row .col:hover::before
{
    background-color: rgba(220, 20, 60, 0.651);

}
/* ------------ portfolio section style end ------------ */

/* ------------ contact section style start ------------ */
#contact
{
    margin: 10% 0;
}
#contact .container
{
    /* height: 400px; */
    /* background-color: burlywood; */
    /* border: 1px solid; */
    margin: 5% 15%;
    padding: 0 10%;
}
#contact .container .row
{
    display: flex;
    margin-bottom: 2%;
    padding:0% 10%;
    /* background-color: lightcoral; */
}
#contact .container .row .col1
{
    width: 50%;
    /* background-color: gold; */
}
.space
{
    margin-right: 5%;
}
#contact .container .row .col
{
    width: 100%;
}
#contact .container .row .col input
{
    padding: 2%;
}
#contact .container .row .col textarea
{
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.493);
    padding: 3% 2%;
    font-size: 1.2rem;
}
#contact .container .row .col textarea:focus
{
    outline: none;
}
#contact .container .row p
{
    font-size: 1.3rem;
    margin-bottom: 2%;
}
#contact .container .row input
{
    width: 100%;
    padding: 3% 2%;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.493);
    font-size: 1.2rem;
}
#contact .container .row input:focus
{
    outline: none;
}
#contact .container .row .col button
{
    width: 100%;
    padding:2%;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: ease-in .5s;
}
#contact .container .row .col button:hover
{
    background-color: rgba(220, 20, 60, 0.651);
    color: white;
}
/* ------------ contact section style end ------------ */

/* ------------ footer style start ------------ */
footer
{
    background-color: #f8f9fa;
}
footer .container
{
    /* background-color: gray; */
    padding: 3% 5%;
}
footer .container .row
{
    /* background-color: lightcoral; */
    text-align: center;
    font-size: 1.3rem;
}
footer .container .row .icons
{
    margin-top: 2%;
}
/* ------------ footer style end ------------ */
